body, html {
    background-image: linear-gradient(to top right,lightskyblue,lightblue,white);
    height: 100%;
}

h1 {
    text-align: center;
    font-family: arial, sans-serif; 
    font-size: 50px;
    height: 35%;
}

h2 {
    text-align: center;
    font-family: arial, sans-serif; 
    font-size: 18px,
}